.selected-date {
  background-color: #16a34a !important;
  color: white !important;
  border-radius: 30% !important;
  font-weight: bold;
  margin: 1px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #bbf7d0 !important;
  border-radius: 30% !important;
}