@import "tailwindcss";

@layer base {

  html,
  :host {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #4B5563 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.selected-date {
  background-color: #28a745 !important;
  color: white !important;
  border-radius: 50%;
}